section.my-info {
    padding: 150px 0;
    background: $main;
    color: white;
    h3 {
        font-size: 18px;
        font-weight: 700;
    }
    p {
        opacity: .9;
        line-height: 1.6;
        margin: 30px 0;
    }
    .col-1 {
        position: relative;
        width: 100%;
    }

    .strip-holder {
        background: pink;
        position: absolute;
        margin: -150px 0;
        top: 0;
        width: 100%;
        height: calc(100% + 300px);
        background: url(../images/strip.png) no-repeat;
        background-repeat: repeat-y;
        background-position: center 0px;
        @media only screen and (max-width: 1160px){
            left: -50px;
        }
    }
}

@media only screen and (max-width: 768px) {
  section.my-info {
    padding: 50px 0;
    margin: 0 0 -20px 0; /* to compensate for top/botom padding from col-1*/
    h3 {
      font-size: 20px;
      line-height: 1.3;
    }
    p {
      line-height: 1.6;
    }

    .col-1 {
      width: auto;
      padding: 10px 10%;
    }

    .strip-holder {
      display: none;
    }
  }
}

@media only screen and (max-width: 480px) {
    section.my-info {
        h3 {
            font-size: 18px;
        }
        p {
            font-size: 14px;
        }
        .col-1 {
            padding: 10px 3%;
        }
    }
}
