section.services {
    background: $green;
    padding: 30px 0;
    .services {
        width: 1000px;
        margin: auto;
        ul.icon-holder {
            display: flex;
            flex-wrap: wrap;
            //justify-content: center;
            li {
                flex: 0 1 calc(25% - 1em);
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-size: 15px;
                img {
                    display: block;
                    max-width: 100%;
                    margin: 0 auto 15px auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
  section.services {
    padding: 30px 0;
    .services {
      width: auto;
      ul.icon-holder {
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  section.services {
    .services {
      ul.icon-holder {
        li {
          flex-basis: 50%;
          margin-bottom: 30px;
          font-size: 12px;
          &:nth-child(3), &:nth-child(4) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
