/* -------------------- Tablet --------------------*/

@media only screen and (max-width: 1000px) {

	/* -------------------- Mobile Navigation--------------------*/
.home-wrapper {
    .mobile-nav-toggle {
        display: block;
    }
    header {
        left: -100px;
        &.is-open {
            left: 0px;
        }
    }
    .home-sections {
        margin-left: auto;
    }
}

}

/* -------------------- Mobile --------------------*/

@media only screen and (max-width: 960px) {
	
}
