@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 400px) {
    @content;
  }
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin centerer {       // Parent needs to be positioned relative or absolute//
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin diagBg($color) {  //@include diagBg($blue-card)
  background: linear-gradient(-45deg, $color 50%, rgba(255, 255, 255, 0.5) 50%);
}