section.contact {
    .col-1 {
        width: 450px;
    }

    .tag-line, .sub-line {
        color: $darkgrey;
        &.tag-line {
            padding-top: 100px;
        }
        &.sub-line {
            padding-bottom: 60px;
        }
    }

    .contact-info {
        .contact-info-each {
            margin-bottom: 30px;

            h4 {
                display: inline-block;
                font-size: 18px;
                color: $darkgrey;
            }
            i {
                vertical-align: sub;
                font-size: 30px;
                margin-right: 30px;
                &.fa-envelope {
                    font-size: 26px;
                }
            }
        }
        .social {
            i {
                opacity: .7;
                font-size: 32px;
                -webkit-transition: opacity .3s ease-in-out;
                &:hover {
                    opacity: 1;
                }
            }
            .fa-facebook {
                color: #3b5998;
            }
            .fa-twitter {
                color: #5fa9dd;
            }
            .fa-linkedin {
                color: #007bb5;
            }
        }
    }
    form {
        margin: 30px 0 100px 0;
        .field {
            position: relative;
            height: 72px;
            padding: 16px 0 8px 0;
            &.is-focused:after {
                transform: scaleX(0.5);
                -webkit-transform: scaleX(1);
            }
            &.is-focused .field-label {
                color: $green;
            }
            &.has-label .field-label {
                transform: translateY(0) scale(.75);
                -webkit-transform: translateY(0) scale(.75);
            }
            &:after, &:before {
                content: '';
                height: 2px;
                width: 100%;
                background: $green;
                position: absolute;
                left: 0;
                bottom: 20px;
            }
            &:after {
                background: $green;
                transform: scaleX(0);
                -webkit-transform: scaleX(0);
                transition: transform .3s;
            }
            .field-label {
                margin: 0;
                font-size: 16px;
                line-height: 16px;
                color: $green;
                display: block;
                transform: translateY(24px);
                -webkit-transform: translateY(24px);
                transform-origin: 0 50%;
                -webkit-transform-origin: 0 50%;
                transition: transform .3s ease-in-out;
                pointer-events: none;
            }
            .field-input {
                position: relative;
                background: transparent;
                display: block;
                height: 32px;
                width: 100%;
                line-height: 16px;
                font-size: 16px;
                padding: 8px 0;
                border: none;
                outline: none;
                -webkit-appearance: none;
                color: $darkgrey;
            }
        }
        input[type=submit].cta {
            max-width: 100%;
            width: 170px;
            margin-top: 30px;
            font-size: 16px;
            outline: none;
            &:hover {
                color: $green;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    section.contact {
        .col-1 {
            width: 500px;
            margin: auto;
        }

        .col-50 {
            width: auto;
            iframe {
                height: 500px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
  section.contact {

    .col-1 {
      width: auto;
    }

    .col-50 {
      width: auto;

      iframe {
        height: 600px;
        display: block;
      }
    }

    .contact-info {
      .contact-info-each {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
            padding-top: 10px;
        }
        i {
            font-size: 26px;
        }
        h4 {
          font-size: 16px;
        }
      }
      .social {
            i {
                font-size: 34px;
            }
        }
    }

    .tag-line, .sub-line {
        &.tag-line {
            padding-top: 60px;
            font-size: 22px;
        }
        &.sub-line {
            padding-bottom: 60px;
            font-size: 32px;
        }
    }
    form {
      margin: 30px 0 60px 0;
    }
  }
}
