footer {
    background: $green;
    padding: 28px 0;
    position: relative;
    p {
        display: block;
        text-align: center;
        color: white;
        font-size: 15px;
        a {
            font-weight: 500;
        }
    }
    i.top {
        position: absolute;
        right: 30px;
        top: 14px;
        font-size: 45px;
        cursor: pointer;
        color: white;
        opacity: .8;
        -webkit-transition: opacity .3s ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 480px) {
    footer {
        padding: 20px 0;
        p {
            font-size: 14px;
            padding: 0 20px;
            line-height: 1.3;
        }
        i.top {
            display: none;
        }
    }
}