section.skills {
    background: $main;
    padding: 100px 0;

    .flex-center {
        .col-1 {
            margin: 0;
        }
    }

    .skillbar {
        position:relative;
        display:block;
        margin-bottom:15px;
        background:#eee;
        height:40px;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        -webkit-transition:0.3s linear;
        -moz-transition:0.3s linear;
        -ms-transition:0.3s linear;
        -o-transition:0.3s linear;
        transition:0.3s linear;
        -webkit-transition-property:width, background-color;
        -moz-transition-property:width, background-color;
        -ms-transition-property:width, background-color;
        -o-transition-property:width, background-color;
        transition-property:width, background-color;
    }

    .skillbar-title {
        position:absolute;
        top:0;
        left:0;
        font-weight: 700;
        font-size:14px;
        text-transform: uppercase;
        color:#ffffff;
        -webkit-border-top-left-radius:3px;
        -webkit-border-bottom-left-radius:4px;
        -moz-border-radius-topleft:3px;
        -moz-border-radius-bottomleft:3px;
        border-top-left-radius:3px;
        border-bottom-left-radius:3px;

    }

    .skillbar-title span {
        display:block;
        padding:0 20px;
        height:40px;
        line-height:40px;
        -webkit-border-top-left-radius:3px;
        -webkit-border-bottom-left-radius:3px;
        -moz-border-radius-topleft:3px;
        -moz-border-radius-bottomleft:3px;
        border-top-left-radius:3px;
        border-bottom-left-radius:3px;
    }

    .skillbar-bar {
        height:40px;
        width:0px;
        background: -webkit-linear-gradient(left, #ff6a00 0%,#ff4640 100%);
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
    }

    .skill-bar-percent {
        position:absolute;
        right:10px;
        top:0;
        font-size:14px;
        font-weight: 600;
        height:40px;
        line-height:40px;
        color:#ffffff;
        color:rgba(0, 0, 0, 0.4);
    }
}


@media only screen and (max-width: 768px) {
  section.skills {
    padding: 50px 0;

    .container {
      width: auto;
    }

    .col-50 {
      width: auto;
    }
    .col-1 {
      .tag-line {
        font-size: 22px
      }
      .sub-line {
        font-size: 32px;
      }
    }
    .col-1-skill {
      margin-top: 40px;
      width: auto;
    }

    .skillbar {
      height: 35px;
    }
    .skillbar-bar {
      height: 35px;
    }
    .skillbar-title {
      font-size: 13px;
      top: -3px;
      left: -3px;
    }
    .skill-bar-percent {
      font-size: 13px;
      top: -2px;
    }
  }
}
